<div id="<%= dom_id question %>">
  <p>
    <strong>Text:</strong>
    <%= question.text %>
    <% if question.image.attached? %>
      <%= image_tag url_for(question.image) %>
    <% else %>
      <p>No image available</p>
    <% end %>
  </p>

</div>
