<%= render @quiz %>

<div>
  <%= link_to "<- Back to Quizzes", quizzes_path %> |
  <%= link_to "Edit this quiz", edit_quiz_path(@quiz) %> 

  <%= button_to "Destroy this quiz", @quiz, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
</div>
