.results-list {
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;

  .green {
    background-color: #00A66E;
  }
}

.results-list-item {
  border-radius: var(--pico-border-radius, 2rem); 
  background-color: var(--pico-primary-hover-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 10%;
}

.results-list-item.span {
  font-weight: bold;
}
