.scoreboard-container {
  max-height: calc(100vh - 4rem);
  margin-top: 5rem;
}

.scoreboard {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: list-number;
}

.scoreboard li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
  padding-left: 2.5rem;
}

.scoreboard li::before {
  counter-increment: list-number;
  content: counter(list-number) ".";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: bold;
}

.scoreboard li::marker {
  font-size: 1.5rem;
  font-weight: bold;
}

.scoreboard li.losers {
  color: #999;
  pointer-events: none;
  opacity: 0.6;
}

.scoreboard-player-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.scoreboard-player-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border-radius: var(--pico-border-radius, 2rem);
}

.scoreboard-player-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.scoreboard-player-points {
  font-size: 1rem;
  font-weight: bold;
  color: var(--pico-primary-hover-background);
}
