<span><%= image_tag current_user.image, alt: "Profile Image", width: 50 %></span>
<span><%= link_to 'Home', root_path %></span>
<span>
  <%= link_to logout_path, method: :delete do %>
    Logout
  <% end %>
</span>
<hr>
