<nav>
  <ul>
    <li><strong><%= app_name %></strong></li>
  </ul>
  <ul>
    <li>
      <%= link_to 'Quizzes', quizzes_path, class: "contrast" %>
    </li>
    <li>
      <%= link_to logout_path, method: :delete, class: "contrast", data: { turbo: false } do %>
        Logout
      <% end %>
    </li>
  </ul>
</nav>
