<nav>
  <ul>
    <li><strong><%= app_name %></strong></li>
  </ul>
  <ul>
    <li>
      <%= link_to 'Home', root_path %>
    </li>
    <li>
      <%= link_to logout_path, method: :delete, data: { turbo: false } do %>
        Logout
      <% end %>
    </li>
  </ul>
</nav>
