<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body>
    <main class="container auth">
      <h1><%= app_name %></h1>
      <%= yield %>
    </main>

    <%= render "layouts/flash" %>
  </body>
</html>
